body {
  font-family: Arial, sans-serif;
  min-height: 80vh;
  display: flex;
  align-items: center;
  position: relative;
}

.container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

input {
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #4CAF50;
}

.home{
  position: absolute;
  right: 10%;
  top: 10%;
  font-size: larger;
}

.message {
  text-align: left;
  color: red;
  font-size: small;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

#registerForm,
#welcomePage,
#forgotPasswordForm {
  display: none;
}